<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    working file

    {% for task in all_task %}
       <p> {{task}} </p> 
    {% endfor %}

    <form action="{% url 'home' %}" method = "POST" >
        {% csrf_token %}
        <input type="text" name="task" placeholder="task"><br>
        <input type="text" name="desription" placeholder="description"><br>
        <input type="submit" value="submit"><br>
        {% if messages %}
            {%for message in messages%}
                {{message}}
            {%endfor%}
        {% endif%}
    </form>


</body>
</html>